<label for="teachers">Consultar los estudiantes</label>

<input type="button" (click)="getStudent()" value="Consultar a los estudiantes">

<table>

    <tr>
        <th>Name</th>
        <th>Patronus</th>
        <th>Age</th>
        <th>Image</th>
    </tr>

    <tr *ngFor="let estudiante of estudiantes; let i = index">
        <td> {{estudiante.name}}</td>
        <td> {{estudiante.patronus}}</td>
        <td> {{ estudiante.yearOfBirth == "" ? "" : 2021 - estudiante.yearOfBirth}}</td>
        <td> <img src={{estudiante.image}} height="40" width="40"></td>
    </tr>

</table>



